<div class="modal hide fade" id="pin-add-dialog" tabindex="-1" role="dialog" aria-labelledby="pin-add-dialog-label">
  <div class="modal-header">
    <button class="close" id="pin-add-dialog-label"></button>
    <h3 id="pin-add-dialog-label">Add Pin</h3>
  </div>
  <div class="modal-body">
    <div>
      <label>Title</label>
      <input type="text" class="text" name="title" />
    </div>
    <div>
      <label>URL</label>
      <input type="text" class="text" name="url" />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn">Cancel</button>
    <button class="btn btn-primary">Add Pin</button>
  </div>
</div>
